body {
    margin: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#video-container {
    position: relative;
    text-align: center;
}

video {
    max-width: 100%;
    max-height: 100vh;
}

#popup-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 100px;
    color: white;
    text-decoration: none;
    animation: pop 2s infinite, color-change 2s infinite;
}

@keyframes pop {
    0%, 100% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.5);
    }
}

@keyframes color-change {
    0% {
        color: white;
    }
    50% {
        color: yellow;
    }
    100% {
        color: cyan;
    }
}
